# Configuration file

~CONFIG_VERSION: 1.0.0

"core mod settings" {
    # If true, log debug information to the console
    B:"Log Debug"=false

    # If true, checks for updates on World Load.
    B:"Perform Update Check"=false
}


