# Configuration file

filters {
    # Should messages from the forge logger be filtered? [default: true]
    B:FilterForge=true

    # Should messages from java loggers be filtered? [default: true]
    B:FilterJava=true

    # Should messages from log4j loggers be filtered? [default: true]
    B:FilterLog4J=true

    # Should messages from misc loggers be filtered? [default: true]
    B:FilterOthers=true

    # Should messages from system out be filtered? [default: true]
    B:FilterSystem=true
}


general {
    # A list of strings. If a console message contains any of these, it will be filtered out of the log. [default: [Ljava.lang.String;@12073e7d]
    S:BasicFilter <
        Parsing
        Potentially
        Invalid
        Exception loading
        Using missing texture, unable to load
        A mod has attempted to assign Block
        doesStackMatchOre
        Failed to find item for
     >

    # A list of regex patterns. If a console message matches one of these filters they will be removed from the log. [default: [Ljava.lang.String;@5bb185cb]
    S:RegexFilters <
     >
}


