[submodule "normal/overrides/resourcepacks/TFG-Resourcepacks-1.12.2"]
	path = normal/overrides/resourcepacks/TFG-Resourcepacks-1.12.2
	url = https://github.com/TerraFirmaGreg-New-Horizons/TFG-Resourcepacks-1.12.2.git
