
config/fantasticlib/reference/recipes.txt
config/fantasticlib/reference/potion_types.txt
config/fantasticlib/reference/oredict.txt
config/fantasticlib/reference/items.txt
config/fantasticlib/reference/entities.txt
config/fantasticlib/reference/enchantments.txt
config/fantasticlib/reference/blockstates.txt
config/fantasticlib/reference/blocks.txt
config/enderio/enderio.cfg
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/items.csv
config/astralsorcery/amulet_enchantments.cfg
config/customloadingscreen_timings.nbt
config/replaymod.cfg
config/replaymod-rendersettings.json
config/jei/worldSettings.cfg
config/jei/worldSettings.cfg
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/items.csv
config/fantasticlib/reference/biomes.txt
config/fantasticlib/reference/blocks.txt
config/fantasticlib/reference/blockstates.txt
config/fantasticlib/reference/enchantments.txt
config/fantasticlib/reference/entities.txt
config/fantasticlib/reference/items.txt
config/fantasticlib/reference/oredict.txt
config/fantasticlib/reference/potions.txt
config/fantasticlib/reference/recipes.txt
config/fantasticlib/reference/sounds.txt
config/customloadingscreen_timings.nbt
TFG-LITE-R3.0-BETA/config/chiselsandbits.cfg
TFG-LITE-R3.0-BETA/config/customloadingscreen_timings.nbt
TFG-LITE-R3.0-BETA/config/fantasticlib/
TFG-LITE-R3.0-BETA/config/splash.properties
*.txt
*.log
*.bin
TFG-LITE-R3.0-BETA/local/
TFG-LITE-R3.0-BETA/.mixin.out/
TFG-LITE-R3.0-BETA/saves/
TFG-LITE-R3.0-BETA/usercache.json
TFG-LITE-R3.0-BETA/usernamecache.json
TFG-LITE-R3.0-BETA/XaeroWorldMap/
TFG-LITE-R3.0-BETA/config/jei/worldSettings.cfg
TFG-LITE-R3.0-BETA/config/fantasticlib/reference/
TFG-LITE-R3.0-BETA/backups/
TFG-LITE-R3.0-BETA/config/AppliedEnergistics2/CustomRecipes.cfg
TFG-LITE-R3.0-BETA/config/AppliedEnergistics2/items.csv
TFG-LITE-R3.0-BETA/config/splash.properties
TFG-LITE-R3.0-BETA/logs/
*.json

