
TFG-LITE/overrides/config/AppliedEnergistics2/CustomRecipes.cfg
TFG-LITE/overrides/config/AppliedEnergistics2/items.csv
TFG-LITE/overrides/config/dcMainMenu/help.txt
TFG-LITE/overrides/config/fantasticlib/reference/biomes.txt
TFG-LITE/overrides/config/fantasticlib/reference/blocks.txt
TFG-LITE/overrides/config/fantasticlib/reference/blockstates.txt
TFG-LITE/overrides/config/fantasticlib/reference/enchantments.txt
TFG-LITE/overrides/config/fantasticlib/reference/entities.txt
TFG-LITE/overrides/config/fantasticlib/reference/items.txt
TFG-LITE/overrides/config/fantasticlib/reference/oredict.txt
TFG-LITE/overrides/config/fantasticlib/reference/players.txt
TFG-LITE/overrides/config/fantasticlib/reference/potion_types.txt
TFG-LITE/overrides/config/fantasticlib/reference/potions.txt
TFG-LITE/overrides/config/fantasticlib/reference/recipes.txt
TFG-LITE/overrides/config/fantasticlib/reference/slottings.txt
TFG-LITE/overrides/config/fantasticlib/reference/sounds.txt
TFG-LITE/overrides/config/fantasticlib/reference/villager_professions.txt
TFG-LITE/overrides/config/jei/worldSettings.cfg
TFG-LITE/overrides/config/replaymod-rendersettings.json
TFG-LITE/overrides/config/replaymod.cfg
TFG-LITE/overrides/config/splash.properties
TFG-LITE/overrides/config/xaerominimap_entities.json
TFG-LITE/overrides/config/xaeropatreon.txt
TFG-LITE/overrides/config/xaeroworldmap.txt
TFG-LITE/overrides/config/xaerominimap.txt
