# Configuration file

~CONFIG_VERSION: 0.4.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Дополнительные настройки функций JEI.
##########################################################################################################

advanced {
    # Переместить строку поиска JEI в центр нижней части экрана. [default: false]
    B:centerSearchBarEnabled=true
    B:debugModeEnabled=false

    # Выберите, должен ли JEI давать предметы напрямую в инвентарь (inventory) или же набирать их мышкой (mouse_pickup).
    # [По-умолчанию: mouse_pickup]
    # [Доступны: [inventory, mouse_pickup]]
    S:giveMode=inventory

    # Максимальная ширина списка ингредиентов. [range: 4 ~ 100, default: 100]
    I:maxColumns=100

    # Максимальная высота интерфейса рецепта. [range: 175 ~ 5000, default: 350]
    I:maxRecipeGuiHeight=350

    # Как название мода должно быть отформатировано для подсказок JEI. Оставьте пустым, чтобы отключить. [По-умолчанию: blue italic] [Доступны: [black, dark_blue, dark_green, dark_aqua, dark_red, dark_purple, gold, gray, dark_gray, blue, green, aqua, red, light_purple, yellow, white, obfuscated, bold, strikethrough, underline, italic]]
    S:modNameFormat=blue italic
    B:optimizeMemoryUsage=true

    # Enable ultra low memory usage mode, can slow down searching by a lot however. [default: false]
    B:ultraLowMemoryUsage=false
}


misc {
    B:mouseClickToSeeRecipes=true
}


rendering {
    B:bufferIngredientRenders=false
}


##########################################################################################################
# search
#--------------------------------------------------------------------------------------------------------#
# Настройки строки поиска.
##########################################################################################################

search {
    # Режим поиска по цвету предмета (префикс: ^)
    # [По-умолчанию: disabled]
    # [Доступны: [enabled, require_prefix, disabled]]
    S:colorSearchMode=enabled

    # Режим поиска по имени творческой вкладки (префикс: %)
    # [По-умолчанию: disabled]
    # [Доступны: [enabled, require_prefix, disabled]]
    S:creativeTabSearchMode=enabled

    # Режим поиска по имени мода (префикс: @)
    # [По-умолчанию: require_prefix]
    # [Доступны: [enabled, require_prefix, disabled]]
    S:modNameSearchMode=enabled

    # Режим поиска по имени в словаре руд (префикс: $)
    # [По-умолчанию: disabled]
    # [Доступны: [enabled, require_prefix, disabled]]
    S:oreDictSearchMode=enabled

    # Режим поиска по идентификатору (префикс: &)
    # [По-умолчанию: disabled]
    # [Доступны: [enabled, require_prefix, disabled]]
    S:resourceIdSearchMode=enabled

    # Режим поиска по всплывающей подсказке (префикс: #)
    # [По-умолчанию: enabled]
    # [Доступны: [enabled, require_prefix, disabled]]
    S:tooltipSearchMode=enabled
}


searchadvancedtooltips {
    # config.jei.searchAdvancedTooltips.search.comment [default: false]
    B:search=false
}


