# Configuration file

algae {
    B:enabled=true
    D:hOffset=0.1
    D:size=1.0
    D:heightMin=0.5
    D:heightMax=1.0
    I:population=48
    I:biomes <
        0
        7
        10
        11
        24
     >
    B:shaderWind=true
}


blocks {
    S:leavesClassesWhitelist <
        net.minecraft.block.BlockLeaves
        net.dries007.tfc.object.blocks.wood.BlockLeavesTFC
     >
    S:leavesClassesBlacklist <
     >
    S:leavesModels <
        minecraft:block/leaves,all
        minecraft:block/cube_all,all
     >
    S:grassClassesWhitelist <
        net.minecraft.block.BlockGrass
     >
    S:grassClassesBlacklist <
     >
    S:grassModels <
        block/grass,top
        block/cube_bottom_top,top
        block/soil/grass_master,top
     >
    S:myceliumWhitelist <
        net.minecraft.block.BlockMycelium
     >
    S:myceliumBlacklist <
     >
    S:dirtWhitelist <
        net.minecraft.block.BlockDirt
     >
    S:dirtBlacklist <
     >
    S:cropsWhitelist <
        net.minecraft.block.BlockTallGrass
        net.minecraft.block.BlockCrops
     >
    S:cropsBlacklist <
        net.minecraft.block.BlockReed
        net.minecraft.block.BlockDoublePlant
        net.minecraft.block.BlockCarrot
        net.minecraft.block.BlockPotato
     >
    S:logClassesWhitelist <
        net.minecraft.block.BlockLog
        net.dries007.tfc.object.blocks.wood.BlockLogTFC
     >
    S:logClassesBlacklist <
        extrabiomes.blocks.BlockMiniLog
     >
    S:logModels <
        block/column_side,end,end,side
        block/cube_column,end,end,side
        block/cube_all,all,all,all
        block/column_top,end,end,side_a,side_b
        block/column_side_x,end,end,side_a,side_b
        block/column_side_z,end,end,side_a,side_b
     >
    S:sandWhitelist <
        net.minecraft.block.BlockSand
     >
    S:sandBlacklist <
     >
    S:lilypadWhitelist <
        net.minecraft.block.BlockLilyPad
     >
    S:lilypadBlacklist <
     >
    S:cactusWhitelist <
        net.minecraft.block.BlockCactus
        net.dries007.tfc.object.blocks.plants.BlockCactusTFC
     >
    S:cactusBlacklist <
     >
    S:netherrackWhitelist <
        net.minecraft.block.BlockNetherrack
     >
    S:netherrackBlacklist <
     >
}


cactus {
    B:enabled=true
    D:size=0.8
    D:sizeVariation=0.1
    D:hOffset=0.1
}


connectedGrass {
    B:enabled=true
    B:snowEnabled=false
}


coral {
    B:enabled=true
    B:shallowWater=false
    D:hOffset=0.2
    D:vOffset=0.1
    D:size=0.7
    D:crustSize=1.4
    I:chance=32
    I:population=48
    I:biomes <
        0
        7
        10
        11
        16
        24
        25
        26
     >
}


fallingLeaves {
    B:enabled=true
    D:speed=0.05
    D:windStrength=0.5
    D:stormStrength=0.8
    D:size=0.75
    D:chance=0.05
    D:perturb=0.25
    D:lifetime=5.0
    B:opacityHack=true
    B:fadeOut=true
}


global {
    B:enabled=true
    B:nVidia=true
}


leaves {
    B:enabled=true
    B:snowEnabled=true
    D:hOffset=0.2
    D:vOffset=0.1
    D:size=1.4
    B:dense=false
    B:hideInternal=true
}


lilypad {
    B:enabled=true
    D:hOffset=0.1
    I:flowerChance=16
}


netherrack {
    B:enabled=true
    D:hOffset=0.2
    D:heightMin=0.6
    D:heightMax=0.8
    D:size=1.0
}


reed {
    B:enabled=true
    D:hOffset=0.2
    D:heightMin=1.7
    D:heightMax=2.2
    I:population=32
    I:biomes <
        0
        1
        4
        6
        7
        9
        14
        15
        16
        18
        21
        22
        23
        24
        27
        28
        29
        127
        129
        132
        134
        149
        151
        155
        156
        157
     >
    B:shaderWind=true
}


risingSoul {
    B:enabled=true
    D:chance=0.02
    D:perturb=0.05
    D:headSize=1.0
    D:trailSize=0.75
    D:opacity=0.5
    D:sizeDecay=0.97
    D:opacityDecay=0.97
    D:lifetime=4.0
    I:trailLength=48
    I:trailDensity=3
}


roundLogs {
    B:enabled=false
    D:radiusSmall=0.25
    D:radiusLarge=0.44
    D:dimming=0.7
    B:connectSolids=false
    B:lenientConnect=true
    B:connectPerpendicular=true
    B:connectGrass=true
    B:defaultY=false
    D:zProtection=0.99
}


shaders {
    I:leavesId=18
    I:grassId=31
}


shortGrass {
    B:grassEnabled=true
    B:myceliumEnabled=false
    B:snowEnabled=true
    D:hOffset=0.2
    D:heightMin=0.6
    D:heightMax=0.8
    D:size=1.0
    I:population=64
    B:useGenerated=false
    B:shaderWind=true
    D:saturationThreshold=0.1
}


