# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=6.25
    B:blacklistTickingBlocks=true
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableSetBitCommand=false
    B:enableToolHarvestLevels=true
    B:fullBlockCrafting=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    B:requireBagSpace=false
    I:stoneChiselUses=8384
    B:voidExcessBits=false
    I:wrenchUses=1888
}


"client performance settings" {
    B:defaultToDynamicRenderer=false
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
    B:dynamicRenderFullChunksOnly=true
    B:forceDynamicRenderer=false
    I:maxMillisecondsPerBlock=10
    I:maxMillisecondsUploadingPerFrame=15
    I:minimizeLatancyMaxTime=100
    S:useVBO=AUTOMATIC
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:displayMeasuringTapeInChat=false
    B:enableChiselMode_ConnectedMaterial=true
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SameMaterial=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enablePositivePatternMode_Additive=true
    B:enablePositivePatternMode_Impose=true
    B:enablePositivePatternMode_Placement=true
    B:enablePositivePatternMode_Replace=true
    B:enableRightClickModeChange=false
    B:enableTapeMeasure_Bit=true
    B:enableTapeMeasure_Block=true
    B:enableTapeMeasure_Distance=true
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThrough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxTapeMeasures=5
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    D:radialMenuVolume=0.10000000149011612
    B:showUsage=true
}


crafting {
    B:enableChiselCrafting=true
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:appeng.block.misc.BlockQuartzFixture=true
    B:appeng.block.misc.BlockTinyTNT=true
    B:appeng.decorative.solid.BlockChargedQuartzOre=true
    B:appeng.decorative.solid.BlockChiseledQuartz=true
    B:appeng.decorative.solid.BlockFluix=true
    B:appeng.decorative.solid.BlockQuartz=true
    B:appeng.decorative.solid.BlockQuartzGlass=true
    B:appeng.decorative.solid.BlockQuartzLamp=true
    B:appeng.decorative.solid.BlockQuartzOre=true
    B:appeng.decorative.solid.BlockQuartzPillar=true
    B:appeng.decorative.solid.BlockSkyStone=true
    B:com.zeitheron.hammercore.internal.blocks.BlockBorderedCobblestone=true
    B:dmfmm.catwalks.block.StairBlock=true
    B:galaxyspace.systems.ACentauriSystem.planets.proxima_b.blocks.Proxima_B_Blocks=true
    B:galaxyspace.systems.ACentauriSystem.planets.proxima_b.blocks.Proxima_B_Logs=true
    B:galaxyspace.systems.BarnardsSystem.planets.barnarda_c.blocks.Barnarda_C_Blocks=true
    B:galaxyspace.systems.BarnardsSystem.planets.barnarda_c.blocks.Barnarda_C_Falling_Blocks=true
    B:galaxyspace.systems.BarnardsSystem.planets.barnarda_c.blocks.Barnarda_C_Grass=true
    B:galaxyspace.systems.BarnardsSystem.planets.barnarda_c.blocks.Barnarda_C_Logs=true
    B:galaxyspace.systems.BarnardsSystem.planets.barnarda_c.blocks.Barnarda_C_Ores=true
    B:galaxyspace.systems.SolarSystem.moons.callisto.blocks.CallistoBlocks=true
    B:galaxyspace.systems.SolarSystem.moons.enceladus.blocks.EnceladusBlocks=true
    B:galaxyspace.systems.SolarSystem.moons.europa.blocks.EuropaBlockGeyser=true
    B:galaxyspace.systems.SolarSystem.moons.europa.blocks.EuropaBlockUWGeyser=true
    B:galaxyspace.systems.SolarSystem.moons.europa.blocks.EuropaBlocks=true
    B:galaxyspace.systems.SolarSystem.moons.ganymede.blocks.GanymedeBlocks=true
    B:galaxyspace.systems.SolarSystem.moons.miranda.blocks.MirandaBlocks=true
    B:galaxyspace.systems.SolarSystem.moons.phobos.blocks.PhobosBlocks=true
    B:galaxyspace.systems.SolarSystem.moons.titan.blocks.TitanBlocks=true
    B:galaxyspace.systems.SolarSystem.moons.triton.blocks.TritonBlocks=true
    B:galaxyspace.systems.SolarSystem.planets.ceres.blocks.CeresBlocks=true
    B:galaxyspace.systems.SolarSystem.planets.haumea.blocks.HaumeaBlocks=true
    B:galaxyspace.systems.SolarSystem.planets.mars.blocks.MarsOresBlocks=true
    B:galaxyspace.systems.SolarSystem.planets.mercury.blocks.MercuryBlocks=true
    B:galaxyspace.systems.SolarSystem.planets.overworld.blocks.BlockDecoMetals=true
    B:galaxyspace.systems.SolarSystem.planets.overworld.blocks.BlockMachineFrames=true
    B:galaxyspace.systems.SolarSystem.planets.overworld.blocks.BlockOres=true
    B:galaxyspace.systems.SolarSystem.planets.pluto.blocks.PlutoBlocks=true
    B:galaxyspace.systems.TauCetiSystem.planets.tauceti_f.blocks.TauCeti_F_Blocks=true
    B:gregicality.multiblocks.common.block.blocks.BlockLargeMultiblockCasing=true
    B:gregicality.multiblocks.common.block.blocks.BlockUniqueCasing=true
    B:gregtech.common.blocks.BlockAsphalt=true
    B:gregtech.common.blocks.BlockBoilerCasing=true
    B:gregtech.common.blocks.BlockCompressed=true
    B:gregtech.common.blocks.BlockFireboxCasing=true
    B:gregtech.common.blocks.BlockFusionCasing=true
    B:gregtech.common.blocks.BlockHermeticCasing=true
    B:gregtech.common.blocks.BlockMachineCasing=true
    B:gregtech.common.blocks.BlockMetalCasing=true
    B:gregtech.common.blocks.BlockMultiblockCasing=true
    B:gregtech.common.blocks.BlockOre=true
    B:gregtech.common.blocks.BlockSteamCasing=true
    B:gregtech.common.blocks.BlockStoneBricks=true
    B:gregtech.common.blocks.BlockStoneBricksCracked=true
    B:gregtech.common.blocks.BlockStoneBricksMossy=true
    B:gregtech.common.blocks.BlockStoneBricksSmall=true
    B:gregtech.common.blocks.BlockStoneBricksSquare=true
    B:gregtech.common.blocks.BlockStoneChiseled=true
    B:gregtech.common.blocks.BlockStoneCobble=true
    B:gregtech.common.blocks.BlockStoneCobbleMossy=true
    B:gregtech.common.blocks.BlockStonePolished=true
    B:gregtech.common.blocks.BlockStoneSmooth=true
    B:gregtech.common.blocks.BlockStoneTiled=true
    B:gregtech.common.blocks.BlockStoneTiledSmall=true
    B:gregtech.common.blocks.BlockStoneWindmillA=true
    B:gregtech.common.blocks.BlockStoneWindmillB=true
    B:gregtech.common.blocks.BlockTurbineCasing=true
    B:gregtech.common.blocks.BlockWarningSign=true
    B:gregtech.common.blocks.BlockWireCoil=true
    B:gregtech.common.blocks.wood.BlockGregPlanks=true
    B:micdoodle8.mods.galacticraft.core.blocks.BlockBasic=true
    B:micdoodle8.mods.galacticraft.core.blocks.BlockBasicMoon=true
    B:micdoodle8.mods.galacticraft.core.blocks.BlockConcealedRedstone=true
    B:micdoodle8.mods.galacticraft.core.blocks.BlockConcealedRepeater=true
    B:micdoodle8.mods.galacticraft.planets.asteroids.blocks.BlockBasicAsteroids=true
    B:micdoodle8.mods.galacticraft.planets.mars.blocks.BlockBasicMars=true
    B:micdoodle8.mods.galacticraft.planets.venus.blocks.BlockBasicVenus=true
    B:net.dries007.tfc.objects.blocks.BlockAggregate=true
    B:net.dries007.tfc.objects.blocks.BlockDebug=true
    B:net.dries007.tfc.objects.blocks.BlockDecorativeStone=true
    B:net.dries007.tfc.objects.blocks.BlockFireBrick=true
    B:net.dries007.tfc.objects.blocks.BlockFireClay=true
    B:net.dries007.tfc.objects.blocks.BlockPeat=true
    B:net.dries007.tfc.objects.blocks.stone.BlockOreTFC=true
    B:net.dries007.tfc.objects.blocks.stone.BlockRockRaw=true
    B:net.dries007.tfc.objects.blocks.stone.BlockRockSmooth=true
    B:net.dries007.tfc.objects.blocks.stone.BlockRockVariant=true
    B:net.dries007.tfc.objects.blocks.stone.BlockRockVariantFallable=true
    B:net.dries007.tfc.objects.blocks.wood.BlockBookshelfTFC=true
    B:net.dries007.tfc.objects.blocks.wood.BlockPlanksTFC=true
    B:net.dries007.tfc.objects.blocks.wood.BlockWorkbenchTFC=true
    B:net.htmlcsjs.htmlTech.common.blocks.BlockHTCasing=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBone=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockConcretePowder=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlazedTerracotta=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockMelon=true
    B:net.minecraft.block.BlockMycelium=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObserver=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneLight=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockSponge=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStainedHardenedClay=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:net.minecraft.block.BlockWorkbench=true
    B:net.sharkbark.cellars.blocks.CellarWall=true
    B:"net.signal_stuff.block.BlockBallast$BlockCustom"=true
    B:"net.signal_stuff.block.BlockBallastCoal$BlockCustom"=true
    B:"net.signal_stuff.block.BlockBallastDirt$BlockCustom"=true
    B:"net.signal_stuff.block.BlockBallastLight$BlockCustom"=true
    B:"net.signal_stuff.block.BlockBallastSand$BlockCustom"=true
    B:"net.signal_stuff.block.BlockBallastStone$BlockCustom"=true
    B:ovh.corail.tombstone.block.BlockGraveMarble=true
    B:"team.chisel.Features$33$1"=true
    B:"team.chisel.Features$34$1"=true
    B:"team.chisel.Features$35$1"=true
    B:"team.chisel.Features$51$1"=true
    B:"team.chisel.Features$59$1"=true
    B:"team.chisel.Features$76"=true
    B:"team.chisel.Features$8$1"=true
    B:team.chisel.common.block.BlockCarvable=true
    B:team.chisel.common.block.BlockCarvableCarpet=true
    B:tfcflorae.objects.blocks.BlockBale=true
    B:tfcflorae.objects.blocks.BlockEarthenwareClay=true
    B:tfcflorae.objects.blocks.BlockKaoliniteClay=true
    B:tfcflorae.objects.blocks.BlockStonewareClay=true
    B:tfcflorae.objects.blocks.blocktype.BlockRockRawTFCF=true
    B:tfcflorae.objects.blocks.blocktype.BlockRockVariantFallableTFCF=true
    B:tfcflorae.objects.blocks.blocktype.BlockRockVariantTFCF=true
    B:tfcflorae.objects.blocks.groundcover.BlockCoralBlock=true
    B:tfcflorae.objects.blocks.wood.fruitwood.BlockFruitBookshelves=true
    B:tfcflorae.objects.blocks.wood.fruitwood.BlockFruitPlanks=true
    B:tfcflorae.objects.blocks.wood.fruitwood.BlockFruitWorkbench=true
    B:vswe.stevescarts.blocks.BlockMetalStorage=true
}


"integration settings" {
    B:ShowBitsInJEI=false
    B:enableMCMultipart=true
    B:enableVivecraftCompatibility=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableTapeMeasure=true
    B:enableWoodenWrench=true
}


troubleshooting {
    B:disableCustomVertexFormats=false
    B:enableAPITestingItem=false
    B:enableFaceLightmapExtraction=true
    B:logEligibilityErrors=false
    B:logTileErrors=false
    B:useGetLightValue=true
}


