# Configuration file

client {
    B:celsius=true
    B:sneakyDetails=false
}


general {
    D:averageTemperature=13.0
    D:burningTemperature=39.0
    D:coldTemperature=0.0
    D:diminishedModifierMultiplier=0.8
    B:enableDebug=false
    D:freezingTemperature=-6.0
    D:harsherMultiplier=1.2
    B:harsherTemperateAreas=true
    D:hotTemperature=32.0
    B:loseHungerThirst=true
    I:modifierCap=4
    D:negativeModifier=1.0
    D:positiveModifier=5.0
    B:takeDamage=true
    D:temperatureMultiplier=2.0
    I:tickInterval=20

    ##########################################################################################################
    # client
    #--------------------------------------------------------------------------------------------------------#
    # Client Settings
    ##########################################################################################################

    client {
        # Overlay when you burning or freezing.
        B:enableOverlay=true

        # If true, you will get extra details about your temperature when sneaking, when false they are always visible.
        B:sneakyDetails=false
    }

    ##########################################################################################################
    # general
    #--------------------------------------------------------------------------------------------------------#
    # General Settings
    ##########################################################################################################

    general {
        # Allowed Dims
        I:allowedDims <
            0
         >

        # The temperature at which you are at equilibrium. It's advisable to not change this by a lot since the entire ecosystem revolves around this. Default = 15
        D:averageTemperature=17.0

        # The temperature at which you start burning and taking damage. It's advisable to not change this by a lot since the entire ecosystem revolves around this. Default = 25
        D:burningTemperature=37.0

        # The temperature at which your screen starts freezing. It's advisable to not change this by a lot since the entire ecosystem revolves around this. Default = 10
        D:coldTemperature=10.0

        # How potent are multipliers with more than one instance. (Eg. 2 fire pits nearby means they have 2 * this effectiveness). Default = 0.7
        D:diminishedModifierMultiplier=0.699999988079071

        # The temperature at which you start freezing and taking damage. It's advisable to not change this by a lot since the entire ecosystem revolves around this. Default = 5
        D:freezingTemperature=5.0

        # If harsherTemperateAreas is true, environmental temperatures going away from the average are multiplied by this number. (The less temperate an area is, the less the modifier affects it). Default = 1.2 
        D:harsherMultiplier=1.2000000476837158

        # If true, temperate areas won't be as mild. Default = true
        B:harsherTemperateAreas=true

        # The temperature at which your screen starts heating. It's advisable to not change this by a lot since the entire ecosystem revolves around this. Default = 20
        D:hotTemperature=27.0

        # If true, you will start losing hunger when below cold temperatures and losing thirst when above hot temperatures. Default = true
        B:loseHungerThirst=true

        # How many modifiers of the same type until they stop adding together. Default = 4
        I:modifierCap=10

        # How fast does temperature change when it's going away from the average. If you think you are giving yourself a challenge by increasing this number, think twice. It makes it so that you have to warm yourself up every so often. Default = 1
        D:negativeModifier=1.0

        # How fast does temperature change when it's going towards the average. Default = 5
        D:positiveModifier=5.0

        # If true, you will start taking damage when below freezing or above burning temperatures. Default = true
        B:takeDamage=true

        # How quickly temperature rises and decreases. Default = 1.0
        D:temperatureMultiplier=1.0
    }

}


time_extension {
}


