# Configuration file

stargates {
    # Defines size of stargate's model
    # SIDE: SERVER/CLIENT
    # Valid values:
    # SMALL
    # MEDIUM
    # LARGE
    # EXTRA_LARGE
    S:"Stargate size"=MEDIUM

    ##########################################################################################################
    # mechanics
    #--------------------------------------------------------------------------------------------------------#
    # Stargate Mechanics settings
    ##########################################################################################################

    mechanics {
        # SIDE: SERVER
        # Min: 0.0
        # Max: 1.0
        D:"Chance of lighting strike that charge a gate"=5.000000237487257E-4

        # If target gate is dialing and this option is set to true,
        # the target gate will stop dialing and open incoming wormhole.
        # If this is set to false and the dialed gate dialing address,
        # the connection will not established.
        # If it cause issues, set it to false.
        # SIDE: SERVER
        B:"Connect to dialing gate"=true

        # THIS OPTION CAN BE OVERRIDE BY SETTING IT IN STARGATE GUI
        # SIDE: SERVER
        B:"Enable burried state for gates"=true

        # Should gate explode when its overheated?
        # This method is not implemented yet!
        # SIDE: SERVER
        B:"Enable gate overheat with explosion"=false

        # SIDE: SERVER/CLIENT
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"Max stargate heat"=83400.0

        # If you want to dial UNI-UNI only with seven symbols (interdimensional for example), set this to true
        # SIDE: SERVER
        B:"Need only 7 symbols between Uni gates"=false

        # SIDE: SERVER/CLIENT
        # Min: 0
        # Max: 15000
        I:"Orlin's gate max open count"=2

        # SIDE: SERVER
        # Min: 5
        # Max: 2147483647
        I:"Universe dialer nearby radius"=1024

        # Change this to true, if you want to use 8 chevrons between pegasus and milkyway gates
        # SIDE: SERVER
        B:"Use 8 chevrons between MW and PG gates"=true
    }

    ##########################################################################################################
    # rig
    #--------------------------------------------------------------------------------------------------------#
    # Stargate Random Incoming Generator settings
    ##########################################################################################################

    rig {
        # 10 = 1%
        # SIDE: SERVER
        # Min: 1
        # Max: 100
        I:"Chance of spawning"=1

        # Enable random incoming wormholes generator
        # THIS OPTION CAN BE OVERRIDE BY SETTING IT IN STARGATE GUI
        # SIDE: SERVER
        B:"Enable random incoming wormholes"=true

        # Format: "modid:entityid", for example: 
        # "minecraft:zombie"
        # "minecraft:creeper"
        # SIDE: SERVER
        S:"Entities to spawn" <
            minecraft:zombie
            minecraft:skeleton
         >
    }

    ##########################################################################################################
    # iris
    #--------------------------------------------------------------------------------------------------------#
    # Stargate Iris settings
    ##########################################################################################################

    iris {
        # Set it to true, if u want to bypass
        # shield/iris damage by creative gamemode
        # SIDE: SERVER
        B:"Allow creative bypass"=false

        # SIDE: SERVER
        B:"Can iris destroy blocks"=false

        # Should iris break when its overheated?
        # SIDE: SERVER
        B:"Enable iris overheat collapse"=true

        # If set to 'false' player get killed by iris on entering event horizon
        # SIDE: SERVER
        B:"Iris kills at destination"=true

        # SIDE: SERVER/CLIENT
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"Max titanium iris heat"=1668.0

        # SIDE: SERVER/CLIENT
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"Max trinium iris heat"=3336.0

        # SIDE: SERVER/CLIENT
        # Min: 0
        # Max: 32
        I:"Maximum iris code length"=9

        # Energy/tick used for make shield closed
        # SIDE: SERVER
        # Min: 0
        # Max: 500000
        I:"Shield power draw"=500

        # Durability of Titanium iris
        # set it to 0, if u want to make it unbreakable
        # SIDE: SERVER/CLIENT
        # Min: 0
        # Max: 50000
        I:"Titanium iris durability"=500

        # Durability of Trinium iris
        # set it to 0, if u want to make it unbreakable
        # SIDE: SERVER/CLIENT
        # Min: 0
        # Max: 50000
        I:"Trinium iris durability"=1000

        # 0 - disables unbreaking on iris
        # 100 - unbreaking makes iris unbreakable
        # SIDE: SERVER
        # Min: 0
        # Max: 100
        I:"Unbreaking chance per level"=10
    }

    ##########################################################################################################
    # power
    #--------------------------------------------------------------------------------------------------------#
    # Stargate Power settings
    ##########################################################################################################

    power {
        # THIS OPTION CAN BE OVERRIDE BY SETTING IT IN STARGATE GUI
        # SIDE: SERVER/CLIENT
        # Min: 0
        # Max: 3
        I:"Capacitors supported by Universe gates"=0

        # SIDE: SERVER
        # Min: 0.0
        # Max: 100.0
        D:"Orlin's gate energy multiplier"=2.0

        # Specifies the multiplier of power needed to keep the gate alive
        # when 8-symbols address is dialed
        # SIDE: SERVER
        # Min: 0.0
        # Max: 100.0
        D:"Stargate eight symbols address power mul"=1.2999999523162842

        # Seconds of energy left before gate becomes unstable
        # SIDE: SERVER
        # Min: 1
        # Max: 120
        I:"Stargate instability threshold"=20

        # Specifies the multiplier of power needed to keep the gate alive
        # when 9-symbols address is dialed
        # SIDE: SERVER
        # Min: 0.0
        # Max: 100.0
        D:"Stargate nine symbols address power mul"=1.7000000476837158

        # SIDE: SERVER
        # Min: 0
        # Max: 500000
        I:"Stargate wormhole open power draw"=4608

        # SIDE: SERVER
        # Min: 0
        # Max: 50
        I:"Stargate wormhole sustain power draw"=2

        # SIDE: SERVER/CLIENT
        # Min: 4608
        # Max: 2147483647
        I:"Stargate's internal buffer size"=71280000

        # SIDE: SERVER
        # Min: 1
        # Max: 500000
        I:"Stargate's max power throughput"=26360

        # SIDE: SERVER
        # Min: 0.0
        # Max: 100.0
        D:"Universe gate energy multiplier"=1.5
    }

    ##########################################################################################################
    # visual
    #--------------------------------------------------------------------------------------------------------#
    # Stargate Video settings
    ##########################################################################################################

    visual {
        # If the incoming animations of gates generate issues, set it to false
        # THIS OPTION CAN BE OVERRIDE BY SETTING IT IN STARGATE GUI
        # SIDE: SERVER
        B:"Allow incoming animations"=true

        # Enable fast dialing on gates by default
        # THIS OPTION CAN BE OVERRIDE BY SETTING IT IN STARGATE GUI
        # SIDE: SERVER/CLIENT
        B:"Enable fast dialing of gates"=false

        # Speed up dialing with computer on MW and UNI gates
        # SIDE: SERVER/CLIENT
        B:"Faster MilkyWay and Universe gates computer dial"=false

        # SIDE: CLIENT
        B:"Render not placed blocks of s stargate"=true

        # Below this biome temperature the gate will receive frosty texture.
        # Set to negative value to disable.
        # SIDE: CLIENT
        # Min: 0.0
        # Max: 5.0
        D:"Temperature threshold for frosty overlay"=0.10000000149011612

        ##########################################################################################################
        # biome overlay biome matches
        #--------------------------------------------------------------------------------------------------------#
        # This check comes last (after block is directly under sky (except Nether) and temperature is high enough).
        # You can disable the temperature check by setting it to a negative value.
        # Format: "modid:biomename", for example: 
        # "minecraft:dark_forest"
        # "minecraft:forest"
        # SIDE: SERVER/CLIENT
        ##########################################################################################################

        "biome overlay biome matches" {
            S:AGED <
             >
            S:FROST <
             >
            S:MOSSY <
                minecraft:jungle
                minecraft:jungle_hills
                minecraft:jungle_edge
                minecraft:mutated_jungle
                minecraft:mutated_jungle_edge
             >
            S:NORMAL <
             >
            S:SOOTY <
                minecraft:hell
             >
        }

        ##########################################################################################################
        # biome overlay override blocks
        #--------------------------------------------------------------------------------------------------------#
        # Format: "modid:blockid[:meta]", for example: 
        # "minecraft:wool:7"
        # "minecraft:stone"
        # SIDE: SERVER/CLIENT
        ##########################################################################################################

        "biome overlay override blocks" {
            S:AGED <
                minecraft:cobblestone
             >
            S:FROST <
                minecraft:ice
             >
            S:MOSSY <
                minecraft:vine
             >
            S:NORMAL <
                minecraft:stone
             >
            S:SOOTY <
                minecraft:coal_block
             >
        }

    }

    ##########################################################################################################
    # origins
    #--------------------------------------------------------------------------------------------------------#
    # Stargate Origins settings
    ##########################################################################################################

    origins {
        # Specifies Point Of Origins that were added by any resource pack.
        # This options is required to load all models of added origins!
        # Format: "id:name", for example: 
        # "6:Tollan"
        # "7:P4X-256"
        # !DO NOT CHANGE ANYTHING IF YOU DON'T KNOW WHAT ARE YOU DOING!
        # SIDE: CLIENT/SERVER
        S:"Custom added points of origin" <
         >

        # SIDE: CLIENT
        B:"Enable different Point Of Origins for MW gate"=true
    }

    ##########################################################################################################
    # eventhorizon
    #--------------------------------------------------------------------------------------------------------#
    # Stargate Event Horizon settings
    ##########################################################################################################

    eventhorizon {
        # Changing this option will require you to reload resources manually.
        # Just restart your game
        # SIDE: CLIENT
        B:"Disable animated Event Horizon"=true

        # SIDE: CLIENT
        B:"Disable new kawoosh model (from 4.11.0.0)"=false

        # SIDE: SERVER
        B:"Enable wrong side killing"=true

        # Format: "modid:blockid[:meta/*]", for example: 
        # "minecraft:wool:7"
        # "minecraft:stone"
        # "minecraft:concrete:*"
        # SIDE: SERVER
        S:"Kawoosh invincible blocks" <
            minecraft:snow_layer:*
            minecraft:rail:*
            minecraft:golden_rail:*
            minecraft:detector_rail:*
            minecraft:activator_rail:*
            minecraft:carpet:*
            minecraft:stone_pressure_plate:*
            minecraft:wooden_pressure_plate:*
            minecraft:light_weighted_pressure_plate:*
            minecraft:heavy_weighted_pressure_plate:*
         >

        # SIDE: CLIENT
        B:"Render EHs even if they are not rendering"=true

        # SIDE: SERVER
        # Min: 0.0
        # Max: 1.0
        D:"Unstable Event Horizon chance of death"=0.07000000029802322
    }

    ##########################################################################################################
    # autoclose
    #--------------------------------------------------------------------------------------------------------#
    # Stargate Auto Close settings
    ##########################################################################################################

    autoclose {
        # SIDE: SERVER
        B:"Autoclose enabled"=true

        # SIDE: SERVER
        # Min: 1
        # Max: 300
        I:"Seconds to autoclose with no players nearby"=5
    }

    ##########################################################################################################
    # opentimelimit
    #--------------------------------------------------------------------------------------------------------#
    # Stargate Open Time Limit settings
    ##########################################################################################################

    opentimelimit {
        # What happens after gate's open time reaches limit?
        # SIDE: SERVER
        # Valid values:
        # DISABLED
        # CLOSE_GATE
        # DRAW_MORE_POWER
        S:"Gate open time limit mode"=DRAW_MORE_POWER

        # (in seconds (2280 = 38 minutes))
        # SIDE: SERVER
        # Min: 5
        # Max: 3000
        I:"Maximum seconds of gate should be open"=240

        # SIDE: SERVER
        # Min: 0
        # Max: 50000
        I:"Power draw after opened time limit"=10000
    }

}


