# Configuration file

general {

    ##########################################################################################################
    # block
    #--------------------------------------------------------------------------------------------------------#
    # Block setting
    ##########################################################################################################

    block {

        grass_path {
            # When enabled, all entities create paths (performance intensive)
            B:"All Entities"=false

            # When enabled, vegetation like tall grass or loose rocks gets destroyed
            B:"Destroy Vegetation"=true

            # Chance per mille for dirt to turn into a path, set to 0.0 to disable
            # Min: 0.0
            # Max: 1000.0
            D:"Dirt -> Path"=10.0

            # Chance per mille for grass to turn into dirt, set to 0.0 to disable
            # Min: 0.0
            # Max: 1000.0
            D:"Grass -> Dirt"=30.0
        }

    }

    ##########################################################################################################
    # item
    #--------------------------------------------------------------------------------------------------------#
    # Item setting
    ##########################################################################################################

    item {
    }

    ##########################################################################################################
    # entity
    #--------------------------------------------------------------------------------------------------------#
    # Entity setting
    ##########################################################################################################

    entity {
    }

    ##########################################################################################################
    # misc
    #--------------------------------------------------------------------------------------------------------#
    # Misc setting
    ##########################################################################################################

    misc {
        # How potent should the darkness be? Default = 0.15
        D:noiseDarkness=0.15000000596046448

        # If true, grass and foliage will be slightly varied in color.
        B:noiseEnable=true

        # How many darkness levels should the noise have? Default = 5
        I:noiseLevels=5

        # The noise scale. Default = 10
        D:noiseScale=10.0

        # ARGB code for summer coloring in hexadecimal. Default: 55FFDD44
        S:seasonColorAutumn=55FFDD44

        # If true, grass and foliage will be colored seasonally.
        B:seasonColorEnable=true

        # ARGB code for spring coloring in hexadecimal. Default: 3355FFBB
        S:seasonColorSpring=3355FFBB

        # ARGB code for summer coloring in hexadecimal. Default: 1155FF44
        S:seasonColorSummer=1155FF44

        # ARGB code for winter coloring in hexadecimal. Default: 335566FF
        S:seasonColorWinter=335566FF
    }

}


