# Configuration file

bookmark {
    # Current mode of recording recipes
    S:recordMode=RESTRICTED

    # Record current recipe when add ingredient to bookmark in recipe screen [default: true]
    B:recordRecipes=true
}


history {
    # Color of the history area display [range: -2147483648 ~ 2147483647, default: -296397483]
    I:backgroundColour=-296397483

    # Enable browsing history function [default: true]
    B:enableHistory=true

    # Add item with different nbt to the browsing history [default: true]
    B:matchesNBTs=true
}


