# Configuration file

general {
    # Item and Armor IDs that shine light when found on any EntityLiving. Syntax: ItemID:LightValue, seperated by commas
    S:LightItems=torch=12,glowstone=12,glowstone_dust=10,lit_pumpkin=10,lava_bucket=10,redstone_torch=10,redstone=10,glowstone_torch=10

    # Update Interval time for all EntityLiving in milliseconds. The lower the better and costlier.
    I:"update Interval"=1000
}


