# Configuration file

general {
    I:EntityBoarTFC=0
    I:EntityChickenTFC=0
    I:EntityDireWolfTFC=0
    I:EntityFallingBlockTFC=0
    I:EntityGazelleTFC=0
    I:EntityPlayerDummy=0
    I:EntitySkeleton=0
    I:EntitySquid=0
    I:GCEntityClientPlayerMP=0

    # Update Interval time for all Entities in milliseconds. The lower the better and costlier.
    I:"update Interval"=1000
}


