# Configuration file

general {
    I:EntityBat=1
    I:EntityBlackBearTFC=1
    I:EntityCreeper=1
    I:EntityGazelleTFC=1
    I:EntityHorseTFC=1

    # Update Interval time for all burning EntityLiving, Arrows and Fireballs in milliseconds. The lower the better and costlier.
    I:"update Interval"=1000
}


