# Configuration file

devices {

    temperature {
        B:coolHeatablesInWorld=true
        D:globalModifier=0.5
        D:heatingModifier=1.0
        I:ticksBeforeAttemptToCool=10
    }

    ##########################################################################################################
    # barrel
    #--------------------------------------------------------------------------------------------------------#
    # Barrel
    ##########################################################################################################

    barrel {
        # List of fluids allowed to be inserted into a barrel.
        S:fluidWhitelist <
            light_blue_dye
            purple_dye
            lemon_wine
            wheat_wine
            brine
            soybean_water
            juice_purple_grape
            green_dye
            sunflower_seed_oil
            pear_brandy
            papaya_wine
            linseed_water
            rye_whiskey
            sake
            opium_poppy_seed_oil
            beer
            beer_barley
            opium_poppy_seed_water
            juice_orange
            rape_seed_water
            milk
            juice_cloud_berry
            magenta_dye
            coconut_milk
            firma_cola
            wort
            corn_whiskey
            lime_dye
            juice_lemon
            tequila
            white_wine
            limewater
            juice_wintergreen_berry
            juniper_wine
            hot_water
            white_dye
            pear_wine
            beer_buckwheat
            barley_wine
            berry_wine
            light_gray_dye
            sugar_water
            beer_wheat
            base_potash_liquor
            cider
            red_dye
            plum_wine
            labrador_tea
            juice_barrel_cactus
            zebu_milk
            juice_juniper
            banana_wine
            black_dye
            juice_apple
            olive_oil
            lemon_brandy
            yeast_starter
            rape_seed_oil
            juice_peach
            vinegar
            juice_green_grape
            brown_dye
            peach_wine
            juice_blackberry
            juice_papaya
            goat_milk
            beer_quinoa
            brandy
            beer_spelt
            orange_wine
            banana_brandy
            beer_corn
            mead
            curdled_goat_milk
            cognac
            rum
            beer_amaranth
            beer_millet
            juice_elderberry
            pink_dye
            plum_brandy
            juice_banana
            juice_cherry
            linseed_oil
            sunflower_seed_water
            juice_snow_berry
            white_tea
            shochu
            soy_milk
            fresh_water
            waste
            orange_brandy
            juice_raspberry
            juice_blueberry
            agave_wine
            juice_gooseberry
            juice_agave
            water
            tannin
            beer_fonio
            sugar_beet_water
            peach_brandy
            rice_water
            juice_pear
            dandelion_tea
            beer_rye
            honey_water
            blue_dye
            black_tea
            whiskey
            pina_colada
            red_wine
            olive_oil_water
            papaya_brandy
            gin
            orange_dye
            juice_plum
            vodka
            yak_milk
            yellow_dye
            curdled_yak_milk
            chamomile_tea
            juice_strawberry
            calvados
            milk_vinegar
            green_tea
            juice_bunch_berry
            berry_brandy
            gray_dye
            cherry_wine
            cyan_dye
            cherry_brandy
            distilled_water
            coffee
            milk_curdled
            salt_water
            grappa
            juice_cranberry
         >

        # How much fluid (mB) can a barrel hold?
        # Min: 100
        # Max: 2147483647
        I:tank=10000
    }

    blast_furnace {
        D:consumption=4.0
    }

    bloomery {
        I:ticks=15000
    }

    ##########################################################################################################
    # crucible
    #--------------------------------------------------------------------------------------------------------#
    # Crucible
    ##########################################################################################################

    crucible {
        # Let crucibles accept pouring metal (from small vessels / molds) from all 9 input slots at the same time.
        B:enableAllSlots=false

        # How fast should crucibles accept fluids from molds / small vessel?
        # Min: 1
        # Max: 2147483647
        I:pouringSpeed=100

        # How much metal (units / mB) can a crucible hold?
        # Min: 100
        # Max: 100000
        I:tank=4608
    }

    ##########################################################################################################
    # charcoal_pit
    #--------------------------------------------------------------------------------------------------------#
    # Charcoal Pit
    ##########################################################################################################

    charcoal_pit {
        # Can charcoal pits take glass (or stained glass) as a valid cover block?
        B:canAcceptGlass=false

        # Number of ticks required for charcoal pit to complete. (1000 = 1 in game hour = 50 seconds), default is 18 hours.
        I:ticks=18000
    }

    ##########################################################################################################
    # charcoal_forge
    #--------------------------------------------------------------------------------------------------------#
    # Charcoal Forge
    ##########################################################################################################

    charcoal_forge {
        # Number of burning ticks that is removed when the charcoal forge is on rain (random ticks).
        # This effectively makes the charcoal forge consumes more fuel when it is raining above it.
        # Min: 0
        # Max: 2147483647
        I:rainTicks=600
    }

    ##########################################################################################################
    # fire_pit
    #--------------------------------------------------------------------------------------------------------#
    # Fire Pit
    ##########################################################################################################

    fire_pit {
        # Number of burning ticks that is removed when the fire pit is on rain (random ticks).
        # This effectively makes the fire pit consumes more fuel when it is raining above it.
        # Min: 0
        # Max: 2147483647
        I:rainTicks=1000

        # Number of ticks required for a cooking pot on a fire pit to boil before turning into soup, per serving. (1000 = 1 in game hour = 50 seconds). Default is 1 hour.
        # Min: 20
        # Max: 2147483647
        I:ticks=1000
    }

    ##########################################################################################################
    # pit_kiln
    #--------------------------------------------------------------------------------------------------------#
    # Pit Kiln
    ##########################################################################################################

    pit_kiln {
        # Number of ticks required for a pit kiln to burn out. (1000 = 1 in game hour = 50 seconds), default is 8 hours.
        # Min: 20
        # Max: 2147483647
        I:ticks=8000
    }

    ##########################################################################################################
    # lamp
    #--------------------------------------------------------------------------------------------------------#
    # Lamp
    ##########################################################################################################

    lamp {
        # How fast lamps consume fuel (mb/hour)? 1 = lamp life of 1 hour per mB, 0.125 = lamp life of 2000 hours by default, 0 = infinite fuel
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:burnRate=0.100

        # Which fluids are valid fuels for lamps?
        S:fuels <
            linseed_oil
            rape_seed_oil
            sunflower_seed_oil
            opium_poppy_seed_oil
            olive_oil
         >

        # How much fuel (mB) can a metal lamps hold?
        # Min: 1
        # Max: 2147483647
        I:tank=250
    }

    ##########################################################################################################
    # chisel
    #--------------------------------------------------------------------------------------------------------#
    # Chisel
    ##########################################################################################################

    chisel {
        # Does the chisel have a delay on use?
        B:hasDelay=false

        # If true, hammer must be in offhand for chisel use. If false, hammer can be in offhand or toolbar.
        B:requireHammerInOffHand=true
    }

    ##########################################################################################################
    # small_vessel
    #--------------------------------------------------------------------------------------------------------#
    # Small Vessel
    ##########################################################################################################

    small_vessel {
        # How much metal (units / mB) can a small vessel hold?
        # Min: 100
        # Max: 100000
        I:tank=4000
    }

    ##########################################################################################################
    # sluice
    #--------------------------------------------------------------------------------------------------------#
    # Sluice
    ##########################################################################################################

    sluice {
        # Chance that a diamond is dropped when sluice produce gems.
        # Min: 0.0
        # Max: 1.0
        D:diamondGemChance=0.0

        # Chance that a sluice operation produce gems.
        # Min: 0.0
        # Max: 1.0
        D:gemChance=0.0

        # The amount of times a chunk can be worked (300 = default, 0 = disable).
        # Note: While sluices increase work by 1, Goldpan increase by 6.
        # Min: 0
        # Max: 10000
        I:maxWorkChunk=1000

        # Chance that a sluice operation produce small ore.
        # Min: 0.0
        # Max: 1.0
        D:oreChance=0.1

        # The radius sluice works, in chunks.
        # Min: 0
        # Max: 10
        I:radius=4

        # The amount of ticks a sluice uses to work.
        # Min: 20
        # Max: 2147483647
        I:ticks=50
    }

    ##########################################################################################################
    # jug
    #--------------------------------------------------------------------------------------------------------#
    # Jug
    ##########################################################################################################

    jug {
        # Enable Shift-Right clicking of Jars to dump water out. Enabling this will not pour an actual water block onto the ground.
        B:dumpWaterOnShiftRightClick=true
    }

    ##########################################################################################################
    # gold_pan
    #--------------------------------------------------------------------------------------------------------#
    # GoldPan
    ##########################################################################################################

    gold_pan {
        # Cooldown ticks after panning.
        I:cooldownTicks=20
    }

    bellows {
        I:maxTicks=600
        I:ticks=200
    }

    ##########################################################################################################
    # puddle
    #--------------------------------------------------------------------------------------------------------#
    # Puddle
    ##########################################################################################################

    puddle {
        # Toggles filling glass bottles with puddle water
        B:canUseGlassBottle=true

        # The game will pick a random block every tick for every active chunk
        # Then it will check if a puddle can be placed there
        # Then it generates a random number between 0-99
        # And if that number is less than this puddle rate number, it puts a puddle
        # That means any value over 99 will flood your world with puddles
        # Min: 0
        # Max: 99
        I:puddleRate=15
    }

    ##########################################################################################################
    # heat
    #--------------------------------------------------------------------------------------------------------#
    # Temperature Settings
    ##########################################################################################################

    heat {
        # Can heatable items be cooled down in the world? Such as putting it in a pool of water or on top of some snow?
        B:coolHeatablesInWorld=true

        # Modifier for how quickly items will gain or lose heat. Smaller number = slower temperature changes.
        # Min: 0.0
        # Max: 10.0
        D:globalModifier=0.5

        # Modifier for how quickly devices (i.e. charcoal forge, fire pit) will gain or lose heat. Smaller number = slower temperature changes.
        # Min: 0.0
        # Max: 10.0
        D:heatingModifier=1.0

        # If heatable items can be cooled down in world, after how many ticks should the item attempt to be cooled down?
        # Min: 1
        # Max: 5999
        I:ticksBeforeAttemptToCool=10
    }

}


