# Configuration file

##########################################################################################################
# botania
#--------------------------------------------------------------------------------------------------------#
# botania settings
##########################################################################################################

botania {
    # Whether to enable Botania's top display [default: true]
    B:Botaniatop=true

    # Whether to show Botania's mana [default: true]
    B:showBotaniaprogress=true

    # Whether the mana value should be displayed in or below the mana bar [default: true]
    B:textinprogress=true
}


helmets {
    # All non-blacklisted helmets can be combined with a probe.
    # !!! When this is false you can't uncraft previously probified helmets !!!
    B:allHelmetsProbable=true

    # Registry names of helmets that shouldn't be combinable with a probe
    S:helmetBlacklist <
     >
}


##########################################################################################################
# thaumcraft
#--------------------------------------------------------------------------------------------------------#
# thaumcraft settings
##########################################################################################################

thaumcraft {
    # Should the goggles of revealing be required to see Thaumcraft information? [default: false]
    B:requireGoggles=false
}


vanilla {
    # Show animal grow up timer.
    B:growupTimer=true

    # Show animal breeding cooldown.
    B:showBreedingCooldown=true
}


