# Configuration file

"weather2remaster:snow" {
    # Should snow build up in a snowstorm?
    B:Snow_PerformSnowfall=false

    # Snow layers have a 1 in x chance to spawn durring a snowstorm
    I:Snow_RarityOfBuildup=64
}


