# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General settings
##########################################################################################################

general {
    # If enabled, you can get drunk from drinking aged alcohol. Try TFC Medicinal for a nice way to combat this.
    B:enableDrunkness=true

    # What level should the haste effect be? 0 = I, 1 = II, 2 = III ...
    I:hasteLevel=1

    # How many ticks does the haste effect last?
    I:hasteTicks=9600

    # What level should the jump boost effect be? 0 = I, 1 = II, 2 = III ...
    I:jumpBoostLevel=1

    # How many ticks does the jump boost effect last?
    I:jumpBoostTicks=9600

    # What level should the resistance effect be? 0 = I, 1 = II, 2 = III ...
    I:resistanceLevel=0

    # How many ticks does the resistance effect last?
    I:resistanceTicks=9600

    # What level should the speed effect be? 0 = I, 1 = II, 2 = III ...
    I:speedLevel=1

    # How many ticks does the speed effect last?
    I:speedTicks=9600

    # What level should the strength effect be? 0 = I, 1 = II, 2 = III ...
    I:strengthLevel=0

    # How many ticks does the night vision effect last?
    I:strengthTicks=9600
}


