# Configuration file

"weather2remaster:wind" {
    # Enables villagers to detect storms and run inside
    B:enable=true

    # Enables the ability for wind to push entities.
    B:enableWindAffectsEntities=true

    # The maximum angle in degrees that wind angle can change with.
    D:windAngleChangeMax=30.0

    # The multiplier for how smooth wind can change. Lower values increases the smoothness.
    D:windChangeMult=1.0

    # The multiplier for entities other than players weight while being pushed by wind. Lower values makes the player lighter.
    D:windEntityWeightMult=1.0

    # The multiplier for players weight while being pushed by wind. Lower values makes the player lighter.
    D:windPlayerWeightMult=1.0

    # The maximum amount of time in ticks it can take for wind to change speed and direction.
    I:windRefreshMax=400

    # The minimum amount of time in ticks it can take for wind to change speed and direction.
    I:windRefreshMin=100

    # Max wind speed to maintain for storms and clouds. Higher means faster storms.
    D:windSpeedMax=2.5

    # Min wind speed to maintain for storms and clouds. Higher means faster storms.
    D:windSpeedMin=0.0

    # The multiplier for all entities weight while being pushed by wind while swimming. Lower values makes all entities lighter while in liquid. Stacks ontop of the other two multipliers
    D:windSwimmingWeightMult=1.0
}


